<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PageImporter" verbose="1" parallel="false">
    <test name="PageImporterTests" preserve-order="true">
        <classes>
            <class name="org.jahia.modules.pageimporter.tests.projectmanagement.tests.ImportTest"/>
            <class name="org.jahia.modules.pageimporter.tests.projectmanagement.tests.DeleteProjectTest"/>
            <class name="org.jahia.modules.pageimporter.tests.projectmanagement.tests.EditProjectTest"/>
            <class name="org.jahia.modules.pageimporter.tests.selection.tests.AreaSelectionTest"/>
            <class name="org.jahia.modules.pageimporter.tests.selection.tests.AreaColorTest"/>
            <class name="org.jahia.modules.pageimporter.tests.selection.tests.ProjectSavingTest"/>
            <class name="org.jahia.modules.pageimporter.tests.export.tests.ExportTest"/>
        </classes>
    </test>
</suite>